/* TNP stuff */
.admin { color: #0000CD; font-weight: bold}
.mod {color: #FF3030; font-weight: bold}
.cabinet { color: #009900; font-weight: bold}
.delegate { color: #BB3A3A; font-weight: bold}
.vicedel { color: #660000; font-weight: bold}
.court { color: #820BBB; font-weight: bold}
.assembly { color: #FF7F00; font-weight: bold}
.diplomat { color: #0099FF; font-weight: bold}
.citizen { color: #FF6600; font-weight: bold}
.council { color: #B8860B; font-weight: bold}
.envoy { color: #000033; font-weight: bold}

#grouplabels {  text-align: center; background:none repeat scroll 0 0 #E6E6E6;
border:1px solid #CACACA;
margin:30px 5%;
padding:30px 30px 10px;}
#grouplabels>div {padding 1ex;  }
#grouplabels>p {margin-bottom: 1em; margin-top: -1em; font-weight: bold; font-size: 120%;}

#news { text-align: center; }

#documents {  }
#toc_bor ol, #toc_const ol, #toc_laws ol  {
overflow:auto;
}
#documents>table { height: 600px; }
#documents thead { max-height: 200px; }
#documents thead a:link, #documents thead a[onclick], #documents thead a:visited { color: #004; }
#documents thead a:hover { color: #008; }
#documents thead a.current { border: 3px solid #336; padding: 3px; }
#documents thead td { min-width: 50%; }
#documents thead tr.doclist { font-weight: bold; text-align: center;  font-size: 10pt;}
#documents thead tr { background: none repeat scroll 0pt 0pt #e6e6e6; text-align: left; font-size: 8pt; width: 100%;}
#documents tbody {overflow:auto; height: 100%;}
#documents td {overflow: auto; padding: 1ex;}

/* Aqua */
html,body {
background:#d7d7d7;
color:#505050;
font-family:"Helvetica", "Arial", "Bitstream Vera Sans", "Verdana", sans-serif;
font-size:93.3%;
margin:0;
padding:0;
}

a {
color:#00529f;
text-decoration:none;
}

a:hover {
color:#009bbe;
text-decoration:none;
}

hr {
background-color:#c4c4c4;
border:0;
height:1px;
}

table {
border-collapse:collapse;
border-spacing:0;
clear:both;
empty-cells:show;
width:100%;
}

th,td {
border:1px solid #cecece;
}

th {
background:url(http://z3.ifrm.com/229/151/0/p178903/footwrap.jpg) repeat-x top #eee;
color:#4a4a4a;
font-weight:400;
padding:3px 5px;
text-align:left;
}

td {
background: url(http://www.thenorthpacific.org/images/forum/row.png) top repeat-x #f0f0f0;
color:#505050;
padding:5px 10px;
}

th a,th a:hover {
font-weight:700;
}

h1 {
font-size:200%;
}

h2,h3 {
font-size:100%;
}

.category h2,.topic h2,#portal h2,#portal_foot h2,thead th {
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
color:#fff;
font-size:110%;
font-weight:700;
border-bottom: 1px solid #004f9a;
}

thead th {
border:1px solid #004f9a;
border-bottom-width:1px;
padding:0px;
text-align:center;
}

h2.special {
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
border-color:#0d4e91;
}

input,select,textarea,button,a.btn_fake {
background:#f4f4f4;
border:1px solid #cfcfcf;
color:#4f4f4f;
padding:3px 5px;
vertical-align:middle;
}

textarea {
font-family:"Verdana", sans-serif;
font-size:100%;
margin:auto;
width:98%;
}

.submit_error {
background:#fff8eb;
border:1px solid #e77700;
}

button,a.btn_fake {
background:url(http://z3.ifrm.com/229/151/0/p179208/btn.jpg) no-repeat top left #d5d5d5;
color:#5f5f5f;
cursor:default;
font-family:tahoma, Arial, Helvetica, sans-serif;
font-size:90%;
overflow:visible;
width:auto;
border:1px solid #fff;
outline:1px solid #c4c4c4;
}

button:hover,a.btn_fake:hover {
color: #1b79d1;
}

button.btn_text {
background:none;
border:0;
cursor:pointer;
font-family:Arial, "Bitstream Vera Sans", Verdana, sans-serif;
font-size:100%;
}

.notice {
background:#fff;
border:2px solid #e7e7e7;
color:#333;
margin:10px auto 0;
width:70%;
}

.notice dt {
color:#5a9837;
font-weight:700;
}

.notice dd {
font-style:italic;
}

dl.info {
background:#eaeaea;
border-color:#0765bd;
}

.info dt {
background:#3bd5f7;
color:#fff;
}

dl.error {
background:#f0f0f0;
border-color:#00488b;
margin-bottom:10px;
}

.error dt {
background:#eaeaea;
color:#b70000;
}

#top ul,#nav,ul.cat-pages,ul.cat-topicpages,table.calendar ul,div.meta_menu ul,#pm_folderlist,#profile_menuwrap ul {
list-style:none;
padding:0;
}

#profile_menuwrap ul,ul.cat-topicpages,blockquote dl,#fast-reply dd , table.calendar ul, .drop_menu, .search_results div.spoiler{
margin:0;
}

#top li,#nav li,ul.cat-pages li,ul.cat-topicpages li,table.calendar li,#pm_folderlist li,#profile_menuwrap li,#ucp_gallery li {
display:inline;
}

#top_bar {
display:none;
}

#top {
background:url(http://z3.ifrm.com/229/151/0/p189053/top.jpg) repeat-x top #222222;
height:33px;
padding:0 2% 4px;
}

#top_info {
color:#a1a1a1;
float:left;
margin-top:12px;
font-size:90%;
}

#top_menu {
background:none transparent;
float:right;
margin-top:4px;
font-size:90%;
}

#top_menu a:hover {
text-decoration:none;
}

.drop_menu li {
background:none transparent;
float:left;
margin-right:1px;
text-align:center;
}

.drop_menu img { display:none; }

.drop_menu a {
color:#5a70b3;
display:block;
padding:9px 0;
position:relative;
width:116px;
font-weight:bold;
}

.drop_menu ul {
color:#fff;
left:-999em;
margin:0;
position:absolute;
width:116px;
background: url(http://z3.ifrm.com/229/151/0/p189046/drop.png) bottom no-repeat;
padding-bottom:9px!important;
padding-top:2px!important;
}

.drop_menu ul li {
font-size:85%;
margin:0;
padding:0;
width:100%;
}

.drop_menu ul li a {
background:none transparent;
display:block;
padding:7px 5%;
width:90%;
font-weight:normal;
}

.drop_menu li ul li a:hover {
color: #3bd5f7;
text-decoration:none;
}

#logo {
background: url(http://z3.ifrm.com/229/151/0/p189052/logo.jpg) top repeat-x;
clear:both;
margin:0;
}

#logo a {
padding: 0 8px;
font-size:175%;
font-style: italic;
font-family: "Times New Roman", gill sans;
font-stretch: condensed
}

#logo a:first-child { padding:0; }

#submenu_bar {
display:none;
}

#submenu {
text-align:center;
font-family: gill sans;
font-style:italic;
font-size:115%;
padding:3px 1% 4px;
text-transform:lowercase;
display:none;
}

#wrap {
background:#e6e6e6;
margin:0;
padding:30px 30px 10px;
margin:30px 5%;
border:1px solid #cacaca;
}

#nav {
background: url(http://z3.ifrm.com/229/151/0/p178905/nav.jpg) top repeat-x #d3d3d3;
height:18px;
font-size:95%;
color: #626262;
padding: 5px 1% 2px;
border:1px solid #cacaca;
font-weight:normal;
}

#nav a {
color: #4f4f4f;
font-weight:bold;
}

#nav a:hover {
color: #1977cf;
}

#nav img {
margin-top:-5px;
background: none transparent;
}


.meta_box {
background:url(http://z2.ifrm.com/static/1/css/boxbg.png) repeat-x top #D8DCEB;
border:1px solid #BFC8E3;
font-size:85%;
line-height:150%;
padding:10px 25px;
}

.meta_menu {
background:#eaeaea;
border:1px solid #cfcfcf;
padding:0;
width:49%;
}

.meta_menu h3 {
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
border:1px solid #0d4e91;
clear:both;
color:#FFF;
font-size:100%;
font-weight:700;
margin:-1px;
text-align:center;
}

ul.cat-pages {
float:left;
font-size:90%;
margin:15px 0;
padding: 5px 1px;
width:49%;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
background:#fafafa;
border:1px solid #c4c4c4;
color:#257cce;
}

.cat-pages a:hover,.cat-topicpages a:hover {
background:#257cce;
color:#fff;
border:1px solid #004f9a;
}

.cat-pages span {
background:#60e1fe;
border:1px solid #1db2d0;
color:#00677b;
cursor:default;
font-weight:700;
padding:2px 5px;
}

.cat-pages input {
background:#fff;
color:#535353;
padding:3px 5px;
vertical-align:baseline;
}

ul.cat-topicpages {
float:right;
font-size:80%;
padding:4px 5px;
background: #dadada;
}

tr.generic td,div.generic {
font-size:120%;
font-weight:700;
padding:20px;
text-align:center;
}

td.c_head,td.c_foot,td.c_sort {
background:url(http://z3.ifrm.com/229/151/0/p178901/foot.jpg) repeat-x top #d5d5d5;
color:#4a4a4a;
font-size:80%;
}

td.c_desc {
background:#eaeaea;
font-weight:700;
text-align:right;
vertical-align:middle;
width:200px;
}

td.c_desc small {
display:block;
font-weight:400;
}

tr.pm_new td {
background:#e9efff;
font-weight:700;
}

tr.hidden td.c_post {
background:#e9efff;
}

.bday {
background:url(http://z2.ifrm.com/static/1/s_minibday.png) no-repeat;
color:#425384;
font-size:90%;
font-weight:700;
height:16px;
padding:2px 2px 2px 18px;
width:20px;
}

.c_mark {
background: url(http://z3.ifrm.com/229/151/0/p190391/darkrows.jpg) top repeat-x #eaeaea;
text-align:center;
width:1%;
}

.c_forum {
color:#666;
font-size:80%;
width:60%;
}

.c_forum strong a {
font-size:135%;
}

td.c_last {
background: url(http://z3.ifrm.com/229/151/0/p190391/darkrows.jpg) top repeat-x #eaeaea;
font-size:85%;
}

.c_forum-desc {
color:#333;
font-size:85%;
}

.c_last-title {
background:url(http://z3.ifrm.com/229/151/0/p189487/arrow.png) no-repeat left;
display:block;
line-height:16px;
padding-left:10px;
}

td.c_info-v,td.c_info-t,td.c_info-r {
font-size:80%;
padding:5px;
text-align:center;
font-weight:bold;
color: #7f7f7f;
}

td.c_subforum {
background: url(http://z3.ifrm.com/229/151/0/p190391/darkrows.jpg) top repeat-x #eaeaea;
color:#9b9b9b;
font-size:80%;
font-style:italic;
}

td.c_subforum a, td.c_last a {
color: #009bbe;
}

td.c_subforum a:hover, td.c_last a:hover, td.c_last strong a {
color: #0053a3;
}

td.c_last strong a:hover {
color: #009bbe;
}

.cat_head td {
border-color:#0d4e91;
padding:0;
}

#stats .cat_head td {
border-color:#0d4e91;
}

.description {
color:#5f5f5f;
font-size:85%;
}

a.member:hover {
color:#606060;
}

td#stats_events a,td#stats_events span {
background:url(http://z3.ifrm.com/229/151/0/p191014/minical.jpg) no-repeat 2px;
padding:4px 0 4px 20px;
}

td.c_username {
background:url(http://z3.ifrm.com/229/151/0/p179202/postfoot.jpg) repeat-x top #d5d5d5;
padding:2px 0;
text-align:center;
}

td.c_username a {
font-size:140%;
font-weight:700;
}

td.c_user {
font-size:80%;
}

td.c_user dl {
background:#eaeaea;
border:1px solid #d1d1d1;
margin:10px 0;
padding:5px 7px;
width:160px;
}

dl.user_profile {
overflow:hidden;
word-wrap:break-word;
}

dl.user_profile dd {
font-style:italic;
margin-left:8px;
}

dl.user_info dd {
font-weight:700;
margin-bottom:1px;
}

th#profile_menuwrap {
background:url(http://z3.ifrm.com/229/151/0/p189053/top.jpg) repeat-x bottom #222222;
border:1px solid #202020;
padding:0 4px;
}

#profile_menu ul {
-moz-opacity:1;
border-top:0;
opacity:1;
}

#profile_menu a {
width:110px;
font-size:90%;
padding: 6px 3px;
}

#profile_menu li li a {
border-top:0;
}

td.c_poll-choice label {
font-weight:700;
padding-left:1em;
}

td.c_poll-votes {
font-size:120%;
text-align:center;
width:15%;
}

td.c_poll-bar div {
background: #535353;
float:left;
height:12px;
padding-right:3px;
}

td.c_poll-bar span {
background: #535353;
display:block;
float:left;
height:12px;
width:3px;
}

.editby,.queued {
background: #f4f4f4;
border:1px solid #cfcfcf;
font-size:85%;
font-style:italic;
margin-top:1em;
padding:3px 5px;
}

.queued {
background:#e9efff;
border-color:#FFF;
}

blockquote, #blog blockquote blockquote {
background:#eaeaea2;
margin:10px auto;
padding-bottom:1px;
width:98%;
}

blockquote dl {
background:#eaeaea;
color:#5a9837;
border-left: 4px solid #c8c8c8;
border-right:1px solid #c8c8c8;
border-top:1px solid #c8c8c8;
}

blockquote dl dt {
color:#1f6db6;
font-size:100%;
font-style:italic;
float:left;
font-family: gill sans;
}

code {
border-right:1px solid #c8c8c8;
border-bottom:1px solid #c8c8c8;
border-left: 4px solid #c8c8c8;
background: #eaeaea;
display:block;
font-family:Monaco, Consolas, "Courier New", Courier, monospace;
white-space:normal;
margin-right:-3px;
}

div.spoiler {
border:1px solid #c4c4c4;
background-color: #f6f6f6;
border-top:0;
padding:5px 7px;
}

div.spoiler_toggle {
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
border: 1px solid #004a8e;
color:#fff;
cursor:pointer;
font-weight:700;
padding:2px 4px;
}

td.c_postinfo {
background:url(http://z3.ifrm.com/229/151/0/p179202/postfoot.jpg) repeat-x top #d5d5d5;
font-size:80%;
vertical-align:middle;
}

td.c_sig {
color:#707070;
font-size:80%;
}

td.c_sig blockquote {
background:#e6e6e6;
border:0;
border:1px solid #c6c6c6;
border-left:3px solid #c6c6c6;
padding:5px;
}

td.c_sig blockquote dl {
background:none transparent;
border:0;
}

td.c_sig blockquote dl dt,td.c_sig blockquote dl dd {
padding:0;
}

td.c_sig blockquote div {
background:transparent;
margin-left:5px;
padding:0;
border:0;
}

tr.c_postfoot td, td.c_postfoot{
background:url(http://z3.ifrm.com/229/151/0/p179202/postfoot.jpg) repeat-x top #d5d5d5;
clear:both;
}

td.c_topicfoot {
background:url(http://z3.ifrm.com/229/151/0/p178903/footwrap.jpg) repeat-x top #eee;
padding: 4px;
}

td.c_username {
width:195px;
}

.c_next a {
display:block;
font-size:125%;
font-weight:700;
text-align:center;
}

td.c_view {
background:#eaeaea;
}

div.c_view-list {
background: #f0f0f0;
color: #a0a0a0; font-weight:bold;
border:1px solid #cfcfcf;
padding:5px;
font-size:92.5%;
}

dl#fast-reply dt {
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
border: 1px solid #004a8e;
color:#FFF;
font-size:110%;
font-weight:700;
margin:0;
padding:5px;
}

dl#fast-reply dd {
background:#eaeaea;
border:1px solid #cfcfcf;
padding:15px 0;
text-align:center;
}

#c_post-preview {
background:#eaeaea;
border:1px solid #c4c4c4;
margin:0 auto 10px;
padding:5px;
text-align:left;
width:98%;
}

#c_post-resize span {
color:#e7e7e7;
cursor:pointer;
font-size:225%;
padding:20px 5px 0;
}

#emot_wrap {
background:#eaeaea;
border:1px solid #c7c7c7;
}

#emot_wrap h3 {
background: url(http://z3.ifrm.com/229/151/0/p178905/nav.jpg) top repeat-x #d3d3d3;
border-bottom:1px solid #fff;
font-size:120%;
text-align:center;
}

#emot_end {
border-top:1px solid #c7c7c7;
display:block;
font-weight:700;
padding:4px 0;
text-align:center;
}

td.c_emot {
background: #eaeaea;
}

#pm_folders {
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
padding-top:30px;
vertical-align:top;
width:150px;
}

#pm_folderlist {
position: relative;
margin-left:0;
margin-top:0
}

#pm_folderlist li {
background:url(http://z3.ifrm.com/229/151/0/p190660/pmfolders.jpg) no-repeat 5px;
display:list-item;
margin-bottom:4px;
padding-left:28px;
}

#pm_forwarded {
border:1px dotted #C5C5C5;
font-size:90%;
font-style:italic;
margin-top:1em;
padding:3px 5px;
}

#ucp_gallery a {
background:#dfdfdf;
font-weight:700;
color: #3f3f3f;
padding:10px 14px;
}

#ucp_gallery img {
display:none;
}

#ucp_gallery a:hover {
color: #3f3f3f;
background: #FFF;
}

td#ucp_gallery button {
background:url(http://z3.ifrm.com/229/151/0/p179202/postfoot.jpg) repeat-x top #d5d5d5;
border:1px solid #fff;
outline:1px solid #c4c4c4;
color: #3f3f3f; font-weight:bold;
}

td#ucp_gallery button:hover {
border:1px solid #bababa;
color: #3f3f3f;
}

.calendar td.cal_inactive {
background:#eaeaea;
color:#aeaeae!important;
}

.calendar td div.cal_div {
background:url(http://z3.ifrm.com/229/151/0/p179206/posttop.jpg) top repeat-x #f3f3f3;
border-bottom:1px solid #c4c4c4;
font-weight:700;
padding:5px 7px;
}

.calendar div.cal_div a {
background:url(http://z3.ifrm.com/229/151/0/p179674/minibday.png) no-repeat 5px;
float:right;
font-size:80%;
font-weight:400;
padding:0 0 6px 24px;
}

.calendar li a,.calendar li span {
border-color:transparent;
border-style:solid;
border-width:1px;
display:block;
padding:3px;
}

.calendar td#cal_current {
background:#efefef;
border:2px solid #004f9a;
}

div.portal_content {
background:#eaeaea;
border:1px solid #c4c4c4;
font-size:88.3%;
margin:0;
padding:5px 7px;
}

#portal h2 {
font-size:88.3%;
}

#portal h4 {
background:url(http://z3.ifrm.com/229/151/0/p179206/posttop.jpg) top repeat-x #f3f3f3;
border-left:1px solid #c4c4c4;
border-right:1px solid #c4c4c4;
font-size:88.3%;
font-weight:400;
margin:0;
padding:5px 7px;
}

#faq dt a {
font-size:120%;
font-weight:700;
}

#faq dd.faq_more a,#faq dl.faq_more a:hover {
font-style:italic;
}

.search_results {
background:url(http://z3.ifrm.com/229/151/0/p179206/posttop.jpg) top repeat-x #f3f3f3;
border:1px solid #c4c4c4;
margin-bottom:1em;
padding:5px 7px;
}

.search_results h3 {
display:inline;
font-size:125%;
}

.search_results cite,.search_results p {
font-size:85%;
margin:0;
}

.search_results blockquote div {
margin-top:-5px;
font-size:90%;
}

#findposts .c_mark {
font-size:200%;
font-weight:700;
vertical-align:top;
}

td#stats_legend {
padding: 0px 4px;
background:none transparent;
margin: 5px!important;
}


#pmtoast {
background:url(http://z3.ifrm.com/229/151/0/p189604/pm.jpg) top repeat-x #c1c1c1;
border: 1px solid #145fa4;
top:10px;
display:none;
font-size:85%;
position:fixed;
left:10px;
text-align:right;
text-decoration:none;
width:200px;
z-index:1;
}

#pmtoast:hover {
border-color:#aaa;
}

#pmlink {
background:url(http://z3.ifrm.com/229/151/0/p189616/pmtoast.png) no-repeat 5px;
color:#d0d0d0;
display:block;
padding:15px 10px 10px 0px;
text-decoration:none;
}

#pmlink img {
padding:0!important;
}

#pmlink big {
color:#FFF;
display:block;
font-weight:700;
padding-bottom:5px;
}

#pmlink strong {
color:#FFF;
}

#pmclose {
background:url(http://z3.ifrm.com/229/151/0/p189709/pmclose.jpg) repeat-x top #eee;
border-top:1px solid #145fa4;
color:#fff;
display:block;
font-size:80%;
padding:1px 10px;
}

#foot_wrap {
margin:20px 0px;
}

#foot_wrap img {
display:none;
}

#foot td {
background:url(http://z3.ifrm.com/229/151/0/p178903/footwrap.jpg) repeat-x top #eee;
border:1px solid #c4c4c4;
font-size:80%;
}

#foot #foot_datetime {
border-left:1px solid #c4c4c4;
width:1%;
white-space:nowrap;
}

#mycopy {
background:url(http://z3.ifrm.com/229/151/0/p190407/blue.jpg) repeat-x top #a4d550;
padding: 3px;
border:1px solid #0d4e91;
color: #fff;
font-size:83%;
}

#mycopy a {
color: #fff;
font-weight:bold;
}

#copyright {
background: url(http://z3.ifrm.com/229/151/0/p179004/footer.jpg) top repeat-x #4f4f4f;
color:#FFF;
font-size:80%;
margin: 0;
text-align:center;
padding: 10px;
}

#copyright a {
color:#3993e5;
font-weight:700;
}

#c_tos h3 {
font-size:120%;
}

input.username_ok {
outline:2px solid #9ed04d;
}

input.username_no {
outline:2px solid #d04d4d;
}

#acplogin {
background:url(http://z3.ifrm.com/229/151/0/p190684/bloghead.jpg) top repeat-x #004f9a;
border:1px solid #71baff;
outline:1px solid #004482;
height:275px;
left:50%;
margin:-137.5px 0 0 -250px;
padding:0;
position:absolute;
top:50%;
width:500px;
}

#acplogin h1 {
color:#FFF;
font-weight:400;
height:50px;
margin-bottom:20px;
padding:50px 20px 0 0;
text-align:right;
}

#acplogin h1 img {
position:absolute;
left:0;
top:0;
}

a img {
border:0;
}

form {
display:inline;
margin:0;
padding:0;
}

.category h2,.topic h2,#portal h2 {
padding:10px;
text-align:left;
}

h3 {
padding:3px 0;
}

input[type=checkbox] {
background:transparent;
border:0;
padding:0;
vertical-align:bottom;
}

input[type=radio] {
border:0;
}

select {
margin:0 7px;
padding:0;
vertical-align:bottom;
}

option {
margin:2px 0;
}

button.btn_img {
border:0;
cursor:pointer;
padding:0;
}

.notice dt,.notice dd {
padding:5px 7px;
}

.drop_menu a img {
vertical-align:bottom;
}

.drop_menu li:hover ul,.drop_menu li.hover ul {
left:auto;
}

#submenu a {
font-size:125%;
padding:5px 5px 3px;
}

#main {
height:1%;
padding:0 1%;
}

#nav li img {
vertical-align:top;
}

.meta_box,.meta_menu {
margin:10px 0;
}

.meta_box li {
display:list-item;
list-style-position:inside;
list-style-type:square;
margin-left:10px;
}

.meta_menu ul {
font-size:90%;
margin:5px 5%;
}

.meta_menu img,.meta_menu span {
float:right;
margin:10px 20px;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
cursor:pointer;
padding:2px 5px;
}

.cat-topicpages a {
padding:0 2px;
}

.cat-buttons,.topic-buttons {
float:right;
margin:15px 0;
text-align:right;
width:50%;
}

tr.postbtn td {
padding:5px;
text-align:center;
}

.row1,.row2 {
line-height:1.4;
}

td.c_head input,td.c_head button,td.c_foot input,td.c_foot button,td.c_sort input,td.c_sort button {
padding:1px;
}

td.c_desc img,td.c_desc input {
float:left;
vertical-align:middle;
}

.category {
margin:10px 0 0;
}

span.collapse,span.uncollapse {
cursor:pointer;
float:right;
position:relative;
padding-top:5px;
}

span.uncollapse {
padding-top:2px;
}

.c_mark img {
display:block;
margin:auto;
}

.c_last {
line-height:1.4;
min-width:300px;
width:30%;
}

.category td.c_foot {
height:10px;
}

#stats_members {
line-height:1.2;
}

td.c_cat-mark,td.c_cat-icon {
padding:5px 0;
text-align:center;
width:30px;
}

td.c_cat-starter {
width:125px;
}

td.c_cat-lastpost {
width:175px;
}

.c_user {
vertical-align:top;
width:175px;
}


img.c_user {
height: 1px;
}


.avatar , img.member {
display:block;
margin:auto;
text-align:center;
}

.av_wrap {
overflow:hidden;
text-align:center;
margin:auto;
}

td.c_user .usertitle {
margin:3px 0;
text-align:center;
}

.pip {
margin:3px 0;
white-space:nowrap;
}

dl.user_info dt,dl.user_info dd {
padding:.1em;
}

dl.user_info dt {
float:left;
margin:0;
min-width:4em;
}

dl.user_info dd.spacer,dl.user_profile dd.spacer {
clear:both;
float:none;
height:1px;
padding:0;
}

td.c_poll-choice {
line-height:1.5;
padding-left:45%;
}

td.c_poll-answer {
text-align:right;
width:42.5%;
}

td.c_poll-bar {
text-align:left;
vertical-align:middle;
width:42.5%;
}

* html td.c_poll-bar span {
margin-top:3px;
}

td.c_post {
line-height:1.7;
vertical-align:top;
}

td.c_post ul {
list-style-type:square;
margin-left:10px;
}

.c_post img,#topic_review img {
max-width:90%;
}

.c_post-attachment {
font-size:83.3%;
margin-top:1em;
padding:1em;
}

.c_post-attachment dd {
margin-left:1em;
}

.post_sep {
background: #1b79d1;
font-size:1px;
height:1px;
}

td.c_sig,td.c_nosig {
background:#eee;
height:1%;
vertical-align:top;
}

td.c_nosig {
border-top-style:hidden!important;
}

blockquote dl dt,blockquote dl dd {
padding:2px 4px;
}

blockquote div,blockquote code {
margin:0;
padding:2px 5px 3px 10px;
}

dl#fast-reply {
clear:both;
margin:auto;
width:80%;
}

dl#fast-reply dd p {
margin:-3px;
padding:0 5% 10px;
text-align:left;
}

dl#fast-reply dd textarea {
display:block;
height:100px;
margin-bottom:10px;
padding:2px;
width:90%;
}

#c_post-text {
height:223px;
}

#c_post-resize {
float:right;
margin-top:-1px;
padding:4px 0 0;
text-align:right;
}

#btn_preview {
float:left;
margin:10px 0 0 1px;
}

#c_emot {
height:225px;
vertical-align:top;
width:210px;
}

#emot_list {
height:275px;
margin:0 auto;
overflow:auto;
padding:5px 0;
text-align:center;
}

div#emot_list {
padding:0;
}

#emot_list li {
display:inline;
padding:4px 10px;
}

#emot_list img {
cursor:pointer;
vertical-align:baseline;
}

.pm {
margin-bottom:1em;
}

#pm_datesent {
width:200px;
}

#pm_select {
text-align:center;
width:1px;
}

#conversation .c_post {
padding:2em;
}

#ucp_profile,#pm_messages {
float:right;
}

#ucp_settings img,#ucp_profile img {
margin:18px 20px;
}

#ucp_gallery li {
float:left;
margin:15px 5px;
}

#ucp_gallery button {
cursor:pointer;
text-align:center;
}

.ucp button.btn_text {
padding:5px 0;
text-align:center;
width:100%;
}

.calendar td {
height:125px;
padding:0;
vertical-align:top;
width:14.3%;
}

.calendar li {
display:list-item;
font-size:80%;
margin:0;
}

.calendar li.placeholder {
padding:4px;
}

.calendar li span {
cursor:default;
}

.calendar td#cal_current div {
padding-top:3px;
}

#portal_head {
margin-bottom:10px;
}

#portal_foot {
margin-top:10px;
}

#portal_l,#portal_r {
font-size:88.3%;
margin:0;
padding:0;
}

#portal_l {
float:left;
width:200px;
}

#portal_r {
float:right;
width:150px;
}

#portal_news {
margin:0 160px 0 210px;
}

#portal_clear {
background:transparent;
border:none;
clear:both;
font-size:1px;
height:1px;
margin:0;
padding:0;
}

.portal_box {
margin-bottom:5px;
padding:1px;
}

.portal_box table {
clear:none;
}

#portal h2,#portal_foot h2 {
clear:none;
margin:0;
padding:3px 5px;
}

#faq {
margin:20px 0;
}

#faq dl {
padding:1em;
}

#faq dt {
margin-bottom:5px;
}

#faq dd {
display:list-item;
margin:0 0 3px 15px;
padding-left:3px;
}

.search_results div {
display:block;
margin:5px 0;
}

#acplogin #loginform {
display:block;
padding:0 50px;
}

.category h2 a,#portal h2 a,#portal_foot h2 a,thead a,.category h2 a:hover,#portal h2 a:hover,#portal_foot h2 a:hover,thead a:hover,#top_info a,#top_info a:hover,.drop_menu a,.drop_menu a:hover {
color:#fff;
}

input,select,td,th {
font-size:90%;
}

button.btn_default,.c_post-attachment dt,#c_tos dt {
font-weight:700;
}

#submenu a:hover,.meta_menu a:hover {
text-decoration:underline;
}

.meta_box h3,td.c_topicfoot strong,#meta_welcome strong {
font-size:120%;
}

tr.pm_new td a {
color: #3f3f3f;
}

tr.pm_new td a:hover {
color: #6caf47;
}


.row2 td {
background: url(http://www.thenorthpacific.org/images/forum/row.png) top repeat-x #f0f0f0;
}

blockquote div {
border-right:1px solid #c8c8c8;
border-bottom:1px solid #c8c8c8;
border-left: 4px solid #c8c8c8;
background: #e9e9e9;
}

.calendar td a,.calendar a:hover,#faq dd a,#faq dd a:hover {
color:#333;
}

a.member {
color: #3f3f3f;
}

img,.meta_box button img,td.c_cat-mark input,.c_post-attachment img,.warn img,#ucp_gallery a img {
vertical-align:middle;
}

h1,h2,h3,#nav,#boardmeta,#main {
clear:both;
margin:0;
}

#meta_welcome,.search_results {
clear:both;
}

#stats_events {
line-height:2;
}

.c_cat-starter,.c_cat-replies,.c_cat-views,td.c_poll-total,td.c_poll-vote,td.c_topicfoot,.warn,.ucp th,#c_notes,.calendar th {
text-align:center;
}

blockquote dl dd,#foot #foot_links {
text-align:right;
}

#c_post,#ucp_gallery {
text-align:center;
vertical-align:top;
}

#files_upload input,.pm .row1 a,.pm .row2 a,#ucp_gallery button img,#findposts td a {
display:block;
}

#ucp_settings,#pm_settings {
float:left;
}

#c_tos dd,#username_response {
margin-left:10px;
}

#vlx {
z-index:1;
}

#blog {
background:#e3e3e3;
border:1px solid #202020;
margin:10px 0;
}

#blog blockquote blockquote {
padding: 0;
font-size: 100%;
}


#blog blockquote {
background:none;
border:none;
font-size:85%;
padding:0 10px;
}

#blog h1 {
float:right;
color: #fff;
}

#blog h2 {
background:none;
clear:none;
font-size:130%;
padding:0;
}

#blog_foot {
clear:both;
margin-bottom:20px;
}

#blog_head {
background:url(http://z3.ifrm.com/229/151/0/p190684/bloghead.jpg) top repeat-x #004f9a;
padding:18px 22px;
border:2px solid #1b1b1b;
border-bottom:5px solid #1b1b1b;
}

#blog_head img.avatar {
display:inline;
}

#blog_head:after {
content: ".";
display: block;
height: 0;
line-height:0;
clear: both;
visibility: hidden;
}

#blog_main {
margin:20px 200px 10px 10px;
}



#blog_categories,#blog_readers,#blog_about,div.blog_options {
background:#f6f6f6;
margin:15px 0;
padding:5px 7px;
}

div.blog_options {
background: url(http://z3.ifrm.com/229/151/0/p178905/nav.jpg) top repeat-x #d3d3d3;
border:1px solid #c7c7c7;
padding: 6px 7px;
}

#blog_sidebar h3,#blog_sidebar dt {
font-weight:700;
}

#blog_sub {
background:url(http://z3.ifrm.com/229/151/0/p190685/blogsub.jpg) top repeat-x #5ddffc;
clear:both;
position:relative;
padding:5px 7px;
text-align:right;
border-top:1px solid #004f9a;
border-bottom:1px solid #1c96b1;
color: #fff;
}

#blog_sub a {
color: #fff;
}

#blog_sub span {
padding-top:4px;
}

#blog_sidebar {
background:#c4c4c4;
float:right;
font-size:93.3%;
margin:20px 10px 0 0;
padding:0 10px;
width:160px;
}

#blog_sidebar dd {
margin-left:10px;
}

#blog_user {
font-size:175%;
}

#blog table {
clear:none;
}

div.blog_options {
font-size:90%;
text-align:right;
}

div.blog_date {
background:url(http://z3.ifrm.com/229/151/0/p178901/foot.jpg) repeat-x top #d5d5d5;
border:1px solid #c4c4c4;
color:#2875be;
float:right;
font-weight:700;
margin:0 15px;
text-align:center;
font-size:90%;
width:40px;
padding:5px;
border-bottom-width:3px;
border-right-width:3px;
}

div.blog_date span {
background:url(http://z3.ifrm.com/229/151/0/p179206/posttop.jpg) top repeat-x #f3f3f3;
color:#46c9e6;
border:1px solid #c4c4c4;
display:block;
font-size:130%;
font-weight:700;
font-size:96%;
padding:4px 5px 3px;
}

div.blog_entry {
background:url(http://z3.ifrm.com/229/151/0/p179206/posttop.jpg) top repeat-x #f3f3f3;
border:1px solid #c7c7c7;
margin:10px 0;
padding:5px 7px;
}

#blog_comments li {
padding:5px 7px;
}

#blog_comments li.odd {
background:#f6f6f6;
}

#shoutwrap {
background:#fafafa;
border:1px solid #e7e7e7;
font-size:88.3%;
}

#shoutwrap td {
padding:0;
}

#shoutbox {
list-style-type:none;
margin:0;
padding:0;
}

#shoutbox li {
padding:5px 7px;
}

#shoutbox li.odd {
background:#f0f0f0;
}

#shoutbox dl,#shoutbox dt,#shoutbox dd {
margin:0;
padding:0;
}

#shoutbox dt {
font-size:80%;
}

#shoutopts,#shoutpost {
clear:both;
text-align:center;
}

input.row1 { background: #f0f0f0;
margin-top:2px; }

/*** Three Piece H2 ***/
/* h2wrap is the center stretch.*/
.h2wrap {
background: url(http://z3.ifrm.com/229/151/0/p189047/h2.jpg) repeat-x;
}

/* h2left is the left image. */
.h2left {
background: url(http://z3.ifrm.com/229/151/0/p189048/h2l.jpg) no-repeat top left;
height: 37px;
}

/* h2center is the text itself. */
.h2center{
padding: 13px 0px 0px 0px;
text-align:center;
font-weight:bold;
color: #555;
}

/* h2right is the right image. */
.h2right {
background: url(http://z3.ifrm.com/229/151/0/p189049/h2r.jpg) no-repeat right top;
height: 37px;
}

/* Collapse/Uncollapse Images */
.collapse,.uncollapse {
right: 15px;
top: 0px;
}

thead td,thead th {padding:0px;background: inherit;border-width:0px;}

/* Leave the above alone. For the bottom, style your profile h2's. */
.profile thead td,.profile thead th, thead th {
padding:3px 5px 3px 5px;
background:url(http://z3.ifrm.com/229/151/0/p190408/h2.jpg) repeat-x top #67b1f5;
border-width:1px 1px 0 1px;
}

.profile thead th {
padding-top:2px;
padding-bottom:2px;
}

#portal h2, #portal_foot h2 {
border:1px solid #004f9a
}

#acplogin th {
background:url(http://z3.ifrm.com/229/151/0/p190685/blogsub.jpg) top repeat-x #5ddffc;
border:1px solid #00758c;
}

#stats .h2left{
background: url(http://z3.ifrm.com/229/151/0/p189050/h2sl.jpg) no-repeat top left;
}

#stats .h2wrap {
background: url(http://z3.ifrm.com/229/151/0/p191559/h2sw.jpg)!important;
}

#stats .h2right {
background: url(http://z3.ifrm.com/229/151/0/p189051/h2sr.jpg) no-repeat right top;
}

.calh2 { background: null!important;height: auto!important; font-weight: null; padding: 0px !important;border: null!important;}

/* Important TNP Stuff */
.rflag {
  float:right;
  margin-right: 5px;
  margin-left: 5px;
  height:40px;
  margin-top: -2.7ex;
}
.rflag:hover {
  box-shadow: 1px 0px 20px #009bbe;
  -webkit-transition: width 0.6s; /*Safari & Chrome*/
  transition: width 0.6s;
  -moz-transition: width 0.6s; /* Firefox 4 */
  -o-transition: width 0.6s; /* Opera */
}