/* TNP stuff */
.admin { color: #0000CD; font-weight: bold}
.mod {color: #FF3030; font-weight: bold}
.cabinet { color: #009900; font-weight: bold}
.delegate { color: #BB3A3A; font-weight: bold}
.vicedel { color: #660000; font-weight: bold}
.court { color: #820BBB; font-weight: bold}
.assembly { color: #FF7F00; font-weight: bold}
.diplomat { color: #0099FF; font-weight: bold}
.citizen { color: #FF6600; font-weight: bold}
.council { color: #B8860B; font-weight: bold}
.envoy { color: #000033; font-weight: bold}

/* Theme */
html,body {
background: url(http://z3.ifrm.com/9/58/0/p90781/header.gif) top left repeat-x #f7fcff;
color:#5d6e7d;
font-family:"Helvetica", "Arial", "Bitstream Vera Sans", "Verdana", sans-serif;
font-size:93.3%;
margin:0;
padding:0;
}

a {
color:#2f516d;
text-decoration:none;
}

a:hover {
color:#5d6e7d;
text-decoration:underline;
}

hr {
background-color:#95bccc;
border:0;
clear:both;
color:#5d6e7d;
height:1px;
}

table {
border-collapse:collapse;
border-spacing:0;
clear:both;
empty-cells:show;
width:100%;
}

th,td {
border:1px solid #ffffff;
}

th {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
color:#5d6e7d;
font-weight:400;
padding:3px 5px;
text-align:left;
}

#stats th {
padding:0px!important;
padding-left:6px!important;
font-size:85%!important;
height:19px!important;
background:url(http://z3.ifrm.com/9/58/0/p90784/statth.gif) repeat-x top;}

#stats td {
font-size:85%!important;}

td {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
color:#5d6e7d;
padding:5px 10px;
}

th a {
color:#2f516d;
font-weight:700;
}

th a:hover {
color:#5d6e7d}

td a:hover {
color:#5d6e7d!important;}

h1 {
font-size:200%;
}

h2,h3 {
font-size:100%;
}

.category h2,.topic h2,#portal h2,#portal_foot h2,thead th {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border:1px solid #90a9bd;
color:#2f516d;
font-size:110%;
font-weight:700;
}

.category {
border:1px solid #a5bfd2;
padding:1px;
padding-bottom:0px;}

thead th {
border:1px solid #90a9bd;
border-bottom-width:1px;
padding:5px;
text-align:center;
}

h2.special {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border-color:#90a9bd;
}

input,textarea,select,button,a.btn_fake {
background:#f7fcff;
border:1px solid #a5bfd2;
color:#2f516d;
padding:3px 5px;
vertical-align:middle;
}

input {
background:#f7fcff!important;}

input.row1 {
background:transparent!important;}

textarea {
font-family:"Verdana", sans-serif;
font-size:100%;
margin:auto;
width:98%;
}

input:hover, textarea:hover, input:focus,input.focus,textarea:focus,textarea.focus {
border:1px solid #90a9bd;
background:#ffffff!important;
}

.submit_error {
background:#fff8eb;
border:1px solid #e77700;
}

button,a.btn_fake {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
color:#5d6e7d;
cursor:default;
font-family:Lucida Sans, Arial, Helvetica, sans-serif;
font-size:90%;
overflow:visible;
width:auto;
border-top:0px!important;
}

td#c_bbcode button{
margin-bottom:1px!important;}

button:hover,a.btn_fake:hover {
color:#2f516d;
}

button.btn_text {
background:none;
border:0;
cursor:pointer;
font-family:Arial, "Bitstream Vera Sans", Verdana, sans-serif;
font-size:100%;
}

.notice {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
border:2px solid #a5bfd2;
color:#5d6e7d;
margin:10px auto 0;
width:70%;
}

.notice dt {
color:#5d6e7d;
font-weight:700;
}

.notice dd {
font-style:italic;
}

dl.info {
border-color:#a5bfd2;
}

.info dt {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-bottom:1px solid #a5bfd2;
color:#e4562b;
}

dl.error {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
}

.error dt {
background:#a5bfd2;
color:#5d6e7d;
}

#top ul,#nav,ul.cat-pages,ul.cat-topicpages,table.calendar ul,div.meta_menu ul,#pm_folderlist,#profile_menuwrap ul {
list-style:none;
padding:0;
}

#profile_menuwrap ul,ul.cat-topicpages,blockquote dl,#fast-reply dd,table.calendar ul {
margin:0;
}

#top li,#nav li,ul.cat-pages li,ul.cat-topicpages li,table.calendar li,#pm_folderlist li,#profile_menuwrap li,#ucp_gallery li {
display:inline;
}

#top_bar {
display:none;
}

#top {
color:#fff;
font-size:90%;
vertical-align:middle;
margin:0 -20px;
height:22px!important;
padding:0px 20px;
text-align:center;
}

#top_info {
font-weight:bold;
color:#fff;
font-size:90%;
float:left;
padding:5px 10px;
margin-top:5px;
margin-left:10px;
}

#top_info a:hover {
color:#fff!important;}
#top_info a {
color:#fff!important;}

#top_menu {
font-size:90%;
background: none transparent;
border-left:0px solid #3a5197;
float:right;
margin-top:10px;
margin-right:10px;
}


.drop_menu li {
background:url(http://z3.ifrm.com/9/58/0/p91236/dropbg.png) top center no-repeat transparent;
float:left;
margin-right:1px!important;
text-align:center;
color:#fff;
}

.drop_menu {
margin:0px;
margin-bottom:-20px}

.drop_menu li a {
color:#ffffff;
font-weight:bold}

.drop_menu li a:hover {
text-decoration:none;
color:#ffffff!important}

.drop_menu a {
color:#fff;
display:block;
padding:6px .25em 6px .25em;
position:relative;
width:124px;
}


.drop_menu a:hover {
text-decoration:none;
color:#fff;
}

.drop_menu ul {
background: url(http://z3.ifrm.com/9/58/0/p91237/dropbg2.png) bottom no-repeat transparent!important;
color:#ffffff;
left:-999em;
margin:0px;
margin-top:-7px!important;
position:absolute;
padding-bottom:10px!important;
width: 130px!important;

}

.drop_menu ul li {
font-size:85%;
color:#ffffff;
background: none transparent;
margin:0;
padding:0;
width:100%;
}

.drop_menu ul li a {
color:#ffffff;
border:0px;
display:block;
padding:5px 5% 5px 5%;
width:117px;
}


.drop_menu li ul li a:hover {
text-decoration:none;
background: url(http://z3.ifrm.com/9/58/0/p40587/drophover.png) top center no-repeat transparent;
}


#logo {
width:90%;
margin:auto;
clear:both;
margin-top:90px;
margin-bottom: 35px;
}

#submenu_bar {
display:none
}

#submenu {
width:85%!important;;
font-size:85%;
vertical-align:middle;
margin:0px auto;
margin-top:-30px!important;
margin-bottom:20x!important;
text-align:right;
color:#586eb1;
}

#submenu a {
background: url(http://z3.ifrm.com/9/58/0/p90806/subbg.png) top left no-repeat transparent;
padding:5px 0px 5px 35px;
margin:0px 5px
}

#wrap {
	padding:0px 0px 0px 0px;
}


#nav {
background: #e1eef8;
border:1px solid #f7fcff;
color:#5d6e7d;
padding:5px 5px 3px 5px;
}

#nav_wrap {
margin:0px 11px 0px 11px;
border:1px solid #a5bfd2}

.meta_box {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
font-size:85%;
line-height:150%;
padding:10px 25px;
}

.meta_box h3 {
color:#bb0000!important;}

.meta_menu {
background:#edf4fa;
border:1px solid #90a9bd;
padding:0;
width:49%;
}

.meta_menu h3 {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border:1px solid #90a9bd!important;
padding:5px;
clear:both;
color:#2f516d;
font-size:100%;
font-weight:700;
margin:-1px;
text-align:center;
}

.meta_menu a {
color:#2f516d;
}

.meta_menu a:hover {
color:#5d6e7d}

ul.cat-pages {
float:left;
font-size:90%;
margin:15px 0;
padding: 5px 1px;
width:49%;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
background: #fff;
border:1px solid #2f516d;
color:#2f516d;
}

.cat-pages a:hover, .cat-topicpages a:hover {
border:1px solid #2f516d;
background: #2f516d;
color:#ffffff;
}

.cat-pages span {
background:#2f516d;
border:1px solid #2f516d;
color:#FFF;
cursor:default;
font-weight:700;
padding:2px 5px;
}

.cat-pages input {
background:#fff;
color:#2f516d;
padding:3px 5px;
vertical-align:baseline;
}

ul.cat-topicpages {
float:right;
font-size:80%;
padding:1px 0;
}

tr.generic td,div.generic {
font-size:120%;
font-weight:700;
padding:20px;
text-align:center;
}

td.c_head,td.c_foot,td.c_sort {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x bottom #deecf6;
color:#5d6e7d;
font-size:80%;
}

td.c_desc {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
font-weight:700;
text-align:right;
vertical-align:middle;
width:200px;
}

td.c_desc small {
display:block;
font-weight:400;
}

tr.pm_new td {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
font-weight:700;
color:#e4562b;
}

tr.hidden td.c_post {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
}

.bday {
background:url(http://z3.ifrm.com/static/1/s_minibday.png) no-repeat;
color:#5d6e7d;
font-size:90%;
font-weight:700;
height:16px;

padding:2px 2px 2px 18px;
width:20px;
}




.c_mark {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
text-align:center;
width:1%;
}




.c_forum {
color:#5d6e7d;
font-size:80%;
width:60%;
}

.c_forum strong a,.c_last strong a {

color:#2f516d;
}


.c_forum strong a {
font-size:120%;
}


.c_forum a:hover, .c_last a:hover {
color:#5d6e7d!important;}

td.c_last {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
font-size:85%;
}

.c_forum-desc {
color:#5d6e7d;
font-size:85%;
}

.c_last-title {
background:url(http://z3.ifrm.com/9/58/0/p91466/newpost.gif) no-repeat left;
display:block;
line-height:16px;
padding-left:10px;
}

td.c_info-v,td.c_info-t,td.c_info-r {
font-size:80%;
padding:5px;
text-align:center;
}

td.c_subforum {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
font-style:italic;
color:#5d6e7d;
font-size:80%;
}

.cat_head td {
padding:0;
}

#stats .cat_head td {
}

.description {
color:#5d6e7d;
font-size:85%;
}

a.member:hover {
color:#666;
}

td#stats_events a,td#stats_events span {
background:url(http://z3.ifrm.com/static/1/s_minical.png) no-repeat 2px;
padding:4px 0 4px 20px;
}

td.c_username {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
padding:2px 0;
text-align:center;
}

td.c_username a {
font-size:140%;
font-weight:700;
}

td.c_user {
font-size:80%;
}

td.c_user dl {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
border:1px solid #a5bfd2;
margin:10px 0;
padding:5px 7px;
width:160px;
}

dl.user_profile {
overflow:hidden;
word-wrap:break-word;
}


dl.user_profile dd {
font-style:italic;
margin-left:8px;
}

dl.user_info dd {
font-weight:700;
margin-bottom:1px;
}


#profile_menu .drop_menu ul {
margin-top:0px!important;}

#profile_menu ul {
border-top:0;
opacity:1;
background: none;
margin:0px!important;
padding-bottom:0px!important;
}

#profile_menu a {
background: #a7bfd4;
border:1px solid #90a9bd;
padding: 4px 8px!important;
font-size:90%;
width: 129px;
color:#2f516d;
}

#profile_menu a:hover {
color:#2f516d;
text-decoration:underline}


#profile_menu li li a {
background: #f7fcff;
color:#2f516d;
padding:4px;
font-size:90%!important;
border:1px solid #a5bfd2;
border-top:0;
}

#profile_menu li ul li a:hover {
background:#edf4fa;
color: #5d6e7d!important;
}

td.c_poll-choice label {
font-weight:700;

padding-left:1em;
}

td.c_poll-votes {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
font-size:120%;
text-align:center;
width:15%;
}

td.c_poll-bar div {
background:url(http://z3.ifrm.com/9/58/0/p83397/footcenter.gif) repeat-x bottom #91b9ca;
border:1px solid #81afc2;
height:10px!important;
float:left;
padding-right:3px;
}




td.c_poll-bar span {
display:block;
float:left;
height:10px!important;;
width:3px;
}

.editby,.queued {
background:#edf4fa;
color:#5d6e7d;
font-size:85%;
font-style:italic;
margin-top:1em;
padding:3px 5px;
}


blockquote {
background:#edf4fa;
border:1px solid #90a9bd;
margin:10px auto;
padding-bottom:0px;
width:98%;
}

blockquote dl {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border-bottom:1px solid #90a9bd;
color:#2f516d;
padding-top:0px;
padding-bottom:0px;
padding-right:20px;
}

code_dl {
border-bottom:1px solid #a5bfd2;
color:#2f516d;
padding-right:20px;
margin-top:-1px;
margin-right:-1px;}

blockquote dl dt {
color:#2f516d;
float:left;
font-weight:700;

}

code {
background:none #edf4fa;
display:block;
font-family:Monaco, Consolas, "Courier New", Courier, monospace;
max-height:400px;
overflow:auto;
white-space:pre;
}

td.c_sig div.spoiler, div.spoiler {
background: #edf4fa;
border:1px solid #a5bfd2;
border-top:0px solid #a5bfd2;
padding:3px 3px;
}

div.spoiler_toggle {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border:1px solid #a5bfd2;
border-top:0px;
color:#5d6e7d;
cursor:pointer;
font-weight:700;
padding:4px 4px;
}


td.c_sig div.spoiler_toggle {

border-bottom:1px solid #a5bfd2;}


td.c_postinfo {

background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;



color:#5d6e7d;
font-size:80%;
vertical-align:middle;
}

td.c_postinfo input {

vertical-align:middle;





}

td.c_sig {
color:#5d6e7d;
font-size:80%;
}

td.c_sig blockquote {

background:none #edf4fa;
border:1px solid #a5bfd2;
padding:5px;
}





td.c_sig blockquote dl {
background:none transparent;




border:0;
color:#5d6e7d;
}


td.c_sig blockquote dl dt,td.c_sig blockquote dl dd {
color:#5d6e7d;
padding:0;
}

td.c_sig blockquote div {
background:#edf4fa;
margin-left:5px;
padding:0;
}

tr.c_postfoot td{
padding:4px 10px!important;
font-size:80%;
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
clear:both;
vertical-align:middle;
}


td.c_footicons,td.c_postinfo {
width:100%;
}

td.c_username {
width:175px;
}

.c_next a {
display:block;
font-size:125%;
font-weight:700;
text-align:center;
}

td.c_view {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
color:#5d6e7d;
}

div.c_view-list {
background: #f7fcff;
border:1px solid #a5bfd2;
padding:5px;
color:#5d6e7d;
font-size:92.5%;
}

dl#fast-reply dt {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border:1px solid #90a9bd;
color:#2f516d;
font-size:110%;
font-weight:700;
margin:0;
padding:5px;
}

dl#fast-reply dd {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
padding:15px 0;
text-align:center;
}

#c_post-preview {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
margin:0 auto 10px;
padding:5px;
text-align:left;
width:98%;
}

#c_post-resize span {
color:#5d6e7d;
cursor:pointer;
font-size:225%;
padding:20px 5px 0;
}

#emot_wrap {
background:#edf4fa;
border:1px solid #a5bfd2;
border-top:0px;
}

#emot_wrap h3 {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-bottom:1px solid #a5bfd2;
color:#5d6e7d;
font-size:95%;
text-align:center;
}

#emot_end {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-top:0px solid #a5bfd2;
display:block;
font-weight:700;
padding:4px 0;
text-align:center;
}

#pm_folders {
border-left:1px solid #a5bfd2;
border-right:1px solid #a5bfd2;
padding-top:30px;
vertical-align:top;
width:150px;
}

#pm_folderlist {
position: relative;
margin-left:0;
margin-top:0
}

#pm_folderlist li {
background:url(http://z3.ifrm.com/static/1/pmfolder.png) no-repeat 5px;
display:list-item;
margin-bottom:4px;
padding-left:28px;
}

#pm_forwarded {
border:1px dotted #a5bfd2;
color:#5d6e7d;
font-size:90%;
font-style:italic;







margin-top:1em;
padding:3px 5px;
}

#ucp_gallery a {
color:#2f516d;
font-weight:700;
}

#ucp_gallery a:hover {
color:#ffffff;
}

.calendar td.cal_inactive {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
color:#a5bfd2!important;
}

.calendar td div {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-bottom:1px solid #a5bfd2;
font-weight:700;
padding:5px 7px;
}

.calendar div a {
background:url(http://z3.ifrm.com/static/1/s_minibday.png) no-repeat 5px;
float:right;
font-size:80%;
color:#2f516d;
font-weight:400;
padding:0 0 6px 24px;
}

.calendar li a,.calendar li span {
border-color:transparent;
border-style:solid;
border-width:1px;
display:block;
padding:3px;
}

.calendar td#cal_current {
background:#edf4fa;
border:0px solid #a5bfd2;
}

div#portal_main { }

div.portal_content {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
font-size:88.3%;
margin:0;
padding:5px 7px;
}


#portal h2 {
font-size:88.3%;
}

#portal h4 {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-left:1px solid #a5bfd2;
border-right:1px solid #a5bfd2;
color:#5d6e7d;
font-size:88.3%;

font-weight:400;

margin:0;

padding:5px 7px;
}


#faq dt a {
color:#2f516d;
font-size:120%;



font-weight:700;

}

#faq dt a:hover {

color:#ffffff!important;}

#faq dd.faq_more a {
color:#2f516d;

font-style:italic;


}





#faq dd.faq_more a:hover {





color:#ffffff}

.search_results {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
margin-bottom:1em;
padding:5px 7px;
}

.search_results h3 {
display:inline;
font-size:125%;}
.search-results h3 {

color:#2f516d}


.search_results cite,.search_results p {
color:#5d6e7d;
font-size:85%;
margin:0;
}


#findposts .c_mark {
color:#5d6e7d;
font-size:200%;
font-weight:700;
vertical-align:top;
}

#pmtoast {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
bottom:10px;
color:#5d6e7d;
border:1px solid #a5bfd2;
display:none;
font-size:90%;
position:fixed;
right:10px;
text-align:right;
padding:4px;
text-decoration:none;
width:200px;
z-index:1;
}

#pmtoast:hover {
border-color:#ffffff;
}

#pmlink {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
border-bottom:0px;
color:#5d6e7d;
display:block;
padding:10px 10px 10px 55px;
text-decoration:none;
}

#pmlink big {
color:red;
display:block;
font-weight:700;
padding-bottom:5px;
}

#pmlink strong {
color:#2f516d;
}

#pmclose {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
color:#2f516d;
display:block;
font-size:80%;
padding:1px 10px;
}

#pmclose:hover {
color:#ffffff;
}

#foot_wrap {
margin:20px 11px 0px 11px;
}

#foot td {
background: #e1eef8;
border:1px solid #f7fcff;
color:#5d6e7d;
padding:5px 5px 3px 5px;
color:#5d6e7d;
font-size:80%;
}

#foot a {
color:#2f516d;
}

#foot a:hover {
color:#ffffff}

#foot #foot_datetime {
width:1%;
padding-right:20px;
color:#5d6e7d!important;
font-weight:bold;
white-space:nowrap;
}

#foot #foot_datetime a {
color:#5d6e7d}

td#foot_themechooser {
padding-left:20px;

color:#5d6e7d!important;
font-weight:bold;
width:300px;}


#foot_links {
padding-right:10px!important;}

#copyright {
color:#5d6e7d;
font-size:80%;
margin:auto;
margin-top:-30px;
margin-bottom:20px;
padding:0px 0px;
text-align:center;
}

#copyright a {
color:#2f516d;
font-weight:700;
}

#copyright a:hover {
color:#90a9bd}


#c_tos h3 {
color:#333;
font-size:120%;
}


td.username_ok {
background:#e0fae0;

}

input.username_ok {
outline:2px solid #0c0;
}

td.username_no {
background:#fae0e0;
}

input.username_no {
outline:2px solid #e77700;
}

#acplogin {
border:2px solid #a5bfd2;
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
height:275px;
left:50%;
margin:-137.5px 0 0 -250px;
padding:0;
position:absolute;
top:50%;
width:500px;
}

#acplogin h1 {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border-bottom:1px solid #a5bfd2;
color:#FFF;
font-weight:400;
height:50px;
margin-bottom:20px;
padding:50px 20px 0 0;
text-align:right;
}

#acplogin h1 img {
position:absolute;
left:0;
top:0;
}

a img {
border:0;

}

form {
display:inline;
margin:0;
padding:0;
}

.category h2,.topic h2,#portal h2 {
padding:5px;
text-align:left;
}

h3 {
padding:3px 0;
}

input[type=checkbox] {
background:transparent;
border:0;
padding:0;
vertical-align:bottom;
}

input[type=radio] {
border:0;
}

select {
margin:0 7px;
padding:0;
vertical-align:bottom;
}

option {
margin:2px 0;
}

button.btn_img {
border:0;

cursor:pointer;
padding:0;


}

.notice dt,.notice dd {
padding:5px 7px;
}


.drop_menu a img {

vertical-align:bottom;
}

.drop_menu li:hover ul,.drop_menu li.hover ul {
left:auto;
}


#main {
height:1%;
padding:0 1%;

}






#nav li img {
vertical-align:top;
}





.meta_box,.meta_menu {

margin:10px 0;
}

.meta_box li {

display:list-item;
list-style-position:inside;
list-style-type:square;
margin-left:10px;

}



.meta_menu ul {
font-size:90%;
margin:5px 5%;
}



.meta_menu img,.meta_menu span {
float:right;
margin:10px 20px;
}

.cat-pages a,.cat-pagesjump i,.cat-topicpages a {
cursor:pointer;

padding:2px 5px;

}

.cat-topicpages a {

padding:0 2px;

}

.cat-buttons,.topic-buttons {
float:right;



margin:15px 0;
text-align:right;

width:50%;
}

tr.postbtn td {
padding:5px;
text-align:center;
}

.row1,.row2 {
line-height:1.4;
}


td.c_head input,td.c_head button,td.c_foot input,td.c_foot button,td.c_sort input,td.c_sort button {
padding:1px;
}


td.c_desc img,td.c_desc input {
float:left;
vertical-align:middle;
}

.category {
margin:20px 0 0;
}

span.collapse,span.uncollapse {
cursor:pointer;
float:right;

position:relative;
}

.c_mark img {

display:block;
margin:auto;
}

.c_last {
line-height:1.4;
min-width:300px;
width:30%;
}

.category td.c_foot {
background: url(http://z3.ifrm.com/9/58/0/p90776/cfoot.gif) bottom repeat-x;
height:19px!important;
padding:0px}



#stats td.c_foot {
background: url(http://z3.ifrm.com/9/58/0/p90776/cfoot.gif) bottom repeat-x;
height:19px!important;
font-size:80%!important;
padding:0px;
padding-right:10px;}


#stats_members {
line-height:1.2;
}

td.c_cat-mark,td.c_cat-icon {
padding:5px 0;
text-align:center;
width:30px;
}

td.c_cat-starter {
width:125px;
}

td.c_cat-lastpost {
width:175px;
}

.c_user {
vertical-align:top;
width:1px;
min-width:175px;
max-width:175px;
}

.c_post {
width:100%;
}


.c_sig,.c_nosig {
width:100%;
}

.avatar, , img.member {
display:block;
margin:auto;
text-align:center;
}

.av_wrap {
overflow:hidden;
text-align:center;
margin:auto;
}

td.c_user .usertitle {
margin:3px 0;
text-align:center;
}

.pip {
margin:3px 0;
white-space:nowrap;
}

dl.user_info dt,dl.user_info dd {
padding:.1em;
}

dl.user_info dt {
float:left;
margin:0;
min-width:4em;
}

dl.user_info dd.spacer,dl.user_profile dd.spacer {
clear:both;
float:none;
height:1px;
padding:0;
}

td.c_poll-choice {
line-height:1.5;
padding-left:45%;
}

td.c_poll-answer {
text-align:right;
width:42.5%;
}

td.c_poll-bar {
text-align:left;
vertical-align:middle;
width:42.5%;
}

* html td.c_poll-bar span {
margin-top:3px;
}

td.c_post {
line-height:1.7;
vertical-align:top;
}



td.c_post ul {
list-style-type:square;
margin-left:10px;
}

.c_post img,#topic_review img {
max-width:90%;
}

.c_post-attachment {

font-size:83.3%;

margin-top:1em;
padding:1em;
}

.c_post-attachment dd {
margin-left:1em;
}

.post_sep {
font-size:1px;
height:1px;
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x bottom;
}

td.c_sig,td.c_nosig {
height:1%;
vertical-align:top;
}

td.c_nosig {
border-top:1px solid #a5bfd2;
}

blockquote dl dt,blockquote dl dd {
padding:3px 4px;
}

blockquote div,blockquote code {
background:#edf4fa;
margin:0;
padding:5px;
}

dl#fast-reply {
clear:both;
margin:auto;
width:80%;

}

dl#fast-reply dd p {
margin:-3px;
padding:0 5% 10px;
text-align:left;
}

dl#fast-reply dd textarea {
display:block;
height:100px;
margin-bottom:10px;
padding:2px;
width:90%;
}

#c_post-text {

height:223px;
}

#c_post-resize {
float:right;
margin-top:-1px;
padding:4px 0 0;
text-align:right;
}

#btn_preview {
float:left;
margin:10px 0 0 1px;
}

#c_emot {
height:225px;
vertical-align:top;
width:210px;
}

#emot_list {
height:275px;
margin:0 auto;
overflow:auto;
padding:5px 0;
text-align:center;
}

div#emot_list {
padding:0;
}

#emot_list li {
display:inline;
padding:4px 10px;
}

#emot_list img {
cursor:pointer;
vertical-align:baseline;
}

.pm {
margin-bottom:1em;

}

#pm_datesent {
width:200px;
}

#pm_select {
text-align:center;
width:1px;
}

#conversation .c_post {
padding:2em;
}

#ucp_profile,#pm_messages {
float:right;
}

#ucp_settings img,#ucp_profile img {
margin:18px 20px;
}

#ucp_gallery li {
float:left;
margin:15px 5px;
}

#ucp_gallery button {
cursor:pointer;
text-align:center;
}

.ucp button.btn_text {
padding:5px 0;

text-align:center;
width:100%;

}











































.calendar td {

height:125px;
padding:0;
vertical-align:top;
width:14.3%;
}


.calendar li {
display:list-item;
font-size:80%;
margin:0;
}



.calendar li.placeholder {
padding:4px;
}



.calendar li span {
cursor:default;
}


.calendar td#cal_current div {
padding-top:3px;



}












#portal_head {
margin-bottom:10px;



}



#portal_foot {
margin-top:10px;
}


#portal_l,#portal_r {
font-size:88.3%;
margin:0;








padding:0;
}



#portal_l {

float:left;
width:200px;

}

#portal_r {
float:right;
width:150px;
}

#portal_news {





margin:0 160px 0 210px;


}






#portal_clear {




background:transparent;
border:none;
clear:both;
font-size:1px;
height:1px;
margin:0;
padding:0;
}

.portal_box {
margin-bottom:5px;
padding:1px;
}

.portal_box table {
clear:none;
}

#portal h2,#portal_foot h2 {
clear:none;
margin:0;
padding:7px 5px;
}


#faq {
margin:20px 0;
}

#faq dl {


padding:1em;

}


#faq dt {
margin-bottom:5px;



}


#faq dd {
display:list-item;
margin:0 0 3px 15px;
padding-left:3px;
}




.search_results div {
display:block;
margin:5px 0;

}

#acplogin #loginform {


display:block;
padding:0 50px;
}



.category h2 a,#portal h2 a,#portal_foot h2 a,thead a,.category h2 a:hover,#portal h2 a:hover,#portal_foot h2 a:hover,thead a:hover,#top_info a,#top_info a:hover,.drop_menu a,.drop_menu a:hover {

color:#fff;
}

input,select,td,th {




font-size:90%;
}

button.btn_default,#nav li span,.c_post-attachment dt,#c_tos dt {
font-weight:700;
}

.meta_menu a:hover {
text-decoration:none;
}

.meta_box h3,td.c_topicfoot strong,#meta_welcome strong {
font-size:120%;
}

.meta_box h3,.meta_box a,.meta_box a:hover,tr.pm_new td a,tr.pm_new td a:hover,tr.hidden td a,
tr.hidden td a:hover,.c_forum strong a:hover,.c_last strong a:hover,#faq dt a:hover {
color:#2f516d;
}

.row2 td {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
}


a.member,.calendar td a,.calendar a:hover,#faq dd a,#faq dd a:hover {
color:#2f516d;
}

img,.meta_box button img,td.c_cat-mark input,.c_post-attachment img,.warn img,#ucp_gallery a img {
vertical-align:middle;

}

h1,h2,h3,#nav,#boardmeta,#main {
clear:both;
margin:0;
}

#meta_welcome,.search_results {
clear:both;
}

#stats_events {
line-height:2;
}

.c_cat-starter,.c_cat-replies,.c_cat-views,td.c_poll-total,td.c_poll-vote,td.c_topicfoot,.warn,.ucp th,#c_notes,.calendar th {
text-align:center;
}

td.c_poll-total {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;}

blockquote dl dd,#foot #foot_links {
text-align:right;
}

#c_post,#ucp_gallery {
text-align:center;
vertical-align:top;
}

#files_upload input,.pm .row1 a,.pm .row2 a,#ucp_gallery button img,#findposts td a {
display:block;
}

#ucp_settings,#pm_settings {
float:left;
}

#c_tos dd,#username_response {
margin-left:10px;
}

#vlx {
z-index:1;
}

#blog {
color:#5d6e7d;
padding:4px;
margin:20px 0px 10px 0px!important;
}

#blog blockquote {

background:none;
border:none;
font-size:85%;
padding:0 10px;
}



#blog h1 {
float:right;
}

#blog h2 {
background:none;
clear:none;
font-size:130%;
padding:0;
}

#blog h2,#blog h2 a {
color:#2f516d;
}

#blog h2 a:hover {
color:#5d6e7d}

#blog_foot {
clear:both;
margin-bottom:20px;
}

#blog_head {
background:url(http://z3.ifrm.com/9/58/0/p91453/bloghead.gif) repeat-x top;
border:1px solid #90a9bd;
padding:15px;
}


#blog_head img.avatar {
display:inline;
}

#blog_main {
margin:10px 200px 10px 0px;
}

#blog_categories,#blog_readers,#blog_about {
background:url(http://z3.ifrm.com/9/58/0/p90777/darkcell.gif) repeat-x bottom #d5e3ee;
border:1px solid #a5bfd2;
margin:15px 0;
padding:5px 7px;
}


div.blog_options {
background:#d5e3ee;
padding:5px 7px;}

#blog_sidebar h3,#blog_sidebar dt {
color:#2f516d;

font-weight:700;



}

#blog_sub {
background:url(http://z3.ifrm.com/9/58/0/p90945/c_foot.gif) repeat-x top #deecf6;
border:1px solid #90a9bd;
clear:both;
position:relative;
padding:5px 7px;
text-align:right;

}



#blog_sub span {
padding-top:4px;
}

#blog_sidebar {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
float:right;
font-size:93.3%;
margin:10px 0px 0 0;
padding:0 10px;
width:170px;
}

#blog_sidebar dd {
margin-left:10px;


}


#blog_user {
font-size:175%;
}

div.blog_options {
font-size:90%;


text-align:right;
}


div.blog_date {
background:url(http://z3.ifrm.com/9/58/0/p91453/bloghead.gif) repeat-x top;
border:1px solid #90a9bd;
color:#5d6e7d;
float:right;

padding:2px;
font-weight:700;
margin:0 15px;
text-align:center;

text-transform:uppercase;

width:30px;
}


div.blog_date span {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #90a9bd;
color:#2f516d;
display:block;
font-size:130%;

font-weight:700;
padding:2px 4px;
}

div.blog_entry {
background:url(http://z3.ifrm.com/9/58/0/p90782/lightcell.gif) repeat-x bottom #e1eef8;
border:1px solid #a5bfd2;
margin:10px 0;
padding:10px;
}

#blog_comments li {
padding:5px 7px;
}

#blog_comments li.odd {
background: #edf4fa;
}


#blog table {
clear:none;
}


#shoutwrap {
background:#fafafa;
border:1px solid #a5bfd2;
font-size:88.3%;

}

#shoutwrap td {
padding:0;

}



#shoutbox {
list-style-type:none;
margin:0;
padding:0;
}

#shoutbox li {
padding:5px 7px;

}


#shoutbox li.odd {
background:#f6f6f6;
}

#shoutbox dl,#shoutbox dt,#shoutbox dd {

margin:0;
padding:0;
}

#shoutbox dt {
color:#777;
font-size:80%;
}

#shoutopts,#shoutpost {
clear:both;
text-align:center;
}



/***** Three Piece H2 *****/
/* h2wrap is the center stretch.*/



.h2wrap {
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border:1px solid #90a9bd;
margin-left:0px!important;
}

/* h2left is the left image. */

.h2left {
background: url(http://z3.ifrm.com/9/58/0/p90779/h2left.gif) no-repeat top left;
height: 35px;
}

/* h2center is the text itself. */
.h2center{
text-align:left;
padding: 10px 0px 0px 40px;
height: 35px;
font-weight: bold;
font-size: 14px;
color: #2f516d;
}

.h2center a {
color: #2f516d;
}

.h2center a:hover {
color:#ffffff;
text-decoration: underline;
}

/* h2right is the right image. */
.h2right {
background: url(http://z3.ifrm.com/9/58/0/p90780/h2right.gif) no-repeat top right;
height: 35px;
}


/* Collapse/Uncollapse Images */
.collapse,.uncollapse {
right: 15px;
top: 0px;
}

thead td,thead th {padding:0px;background: inherit;border-width:0px;}


/* Leave the above alone. For the bottom, style your profile h2's. */
.profile thead td,.profile thead th, .calendar thead th {
padding: 5px 20px;
background:url(http://z3.ifrm.com/9/58/0/p90778/h2center.gif) repeat-x top;
border:1px solid #90a9bd;
color:#2f516d;

text-align:left;font-size:100%;
font-weight:bold}

.calendar thead th a, .calendar thead th a:hover {
color:#2f516d}


.profile, .topic {margin-top:10px}
table.ucp + table {margin-top: 10px;}

#main_content1 {
width:90%;
margin: 10px auto 20px auto;}

/* repeating background image of the header */
#header {background:url(http://z3.ifrm.com/9/58/0/p91116/top.gif);height: 59px; width:100%;}

/* top left corner */
#header_l {background:url(http://z3.ifrm.com/9/58/0/p91117/topleft.gif);height: 59px; width: 59px; float:left;}
/* top right corner */
#header_r {background:url(http://z3.ifrm.com/9/58/0/p91118/topright.gif);height: 59px;width: 59px;float:right;}

/* left side border */
#side_l {background:url(http://z3.ifrm.com/9/58/0/p91119/left.gif) repeat-y left;}
/* right side border */
#side_r {background:url(http://z3.ifrm.com/9/58/0/p91120/right.gif) repeat-y right #edf4fa;margin-left:35px;padding-right:35px;}

/* repeated footer background */
#footer {background:url(http://z3.ifrm.com/9/58/0/p91113/bottom.gif);height:59px; width:100%;}
/* bottom left corner */
#footer_l {background:url(http://z3.ifrm.com/9/58/0/p91114/bottomleft.gif); height: 59px; width: 59px; float:left;}


/* bottom right corner */
#footer_r {background:url(http://z3.ifrm.com/9/58/0/p91115/bottomright.gif); height: 59px; width: 59px; float:right;}

/** Safari Only**/
body:last-child:not(:root:root) div .category td.c_foot {
height:18px!important;
}
body:last-child:not(:root:root) div #stats td.c_foot {
height:18px!important;
}
body:last-child:not(:root:root) div .drop_menu a {
display:block;
padding:6px .25em 6px .25em;
position:relative;
width:126px;
}
/** Safari Only**/

/* Laws page */

#documents {  }
#toc_bor ol, #toc_const ol, #toc_laws ol  {
overflow:auto;
}
#documents>table { height: 600px; }
#documents thead { max-height: 200px; }
#documents thead a:link, #documents thead a[onclick], #documents thead a:visited { color: #004; }
#documents thead a:hover { color: #008; }
#documents thead a.current { border: 3px solid #336; padding: 3px; }
#documents thead td { min-width: 50%; }
#documents thead tr.doclist { font-weight: bold; text-align: center;  font-size: 10pt;}
#documents thead tr { background: none repeat scroll 0pt 0pt #e6e6e6; text-align: left; font-size: 8pt; width: 100%;}
#documents tbody {overflow:auto; height: 100%;}
#documents td {overflow: auto; padding: 1ex;}