<div id="govtbox" class="category">
	<table class="cat_head" id="govt_header">
		<tr><td>
			<h2 class="special">
				<span class="collapse" onclick="toggle_govt();">
					<img src='http://www.thenorthpacific.org/images/forum/Aquatica%20Gfx/Misc/collapse.png' alt='-' />
				</span>
				Current Government
			</h2>
		</td></tr>
	</table>
	<table id="govt" class="forums" cellspacing="0" style="display:table;"></table>
</div>
<script type="text/javascript">
	$("#govt").ready(function(){
		$.ajax('http://www.thenorthpacific.org/region_govt_info.fcgi',{
			dataType:			'jsonp',
			cache:				 true,
			jsonpCallback: 'make_govt_positions_box'
		}).done(function(data){
			govt_update_ts = data.updated*1000;
			if( window.localStorage.govt_hidden > govt_update_ts ) {
				$("#govt").hide();
				$("#govtbox span.collapse").removeClass('collapse').addClass('uncollapse').children('img').attr({alt:'+',src:'http://www.thenorthpacific.org/images/forum/Aquatica%20Gfx/Misc/expand.png'});
			}
			const govt_layout={
				Legislative:['speaker','deputy_speaker','registrar',
					'speaker_pro_tempore'],
				Executive:['legal_delegate','ministers',
					'deputy_ministers'],
				Security:['vice_delegate','security_council'],
				Judicial:['chief_justice','associate_justices',
					'attorney_general','prosecutors']
			};
			const c={
				legal_delegate:'firebrick',
				vice_delegate:'maroon',
				security_council:'goldenrod',
				ministers:'green',
				deputy_ministers:'limegreen',
				speaker:'forestgreen',
				deputy_speaker:'darkorange',
				registrar:'darkorange',
				speaker_pro_tempore:'darkorange',
				chief_justice:'indigo',
				associate_justices:'indigo',
				attorney_general:'darkorchid',
				prosecutors:'mediumorchid'
			};
			const cap=function(s){
				return $.map(s.split('_'),function(s){
					return s.charAt(0).toUpperCase() + s.slice(1);
				}).join(' ');
			}
			var branches_todo={};
			var positions_todo={};
			var branch_data={};
			var box = $('<table></table>',{id:'govt'});
			var box_heading=$('<tr></tr>');
			for( branch in govt_layout ) {
				box_heading.append($('<th>',{
					colspan:3,
					text:branch
				}));
				branches_todo[branch]=true;
				var layout=govt_layout[branch];
				var bd=$.map(layout,function(v,i){
					var datum=data[v];
					if( datum === undefined ) return datum;
					positions_todo[v]=true;
					if( datum.nation_name === undefined ) {
						if( $.isArray(datum) ) {
							return $.map(datum,function(w,j){
								w.title=v;
								return w;
							});
						} else if( datum == 'Vacant' ) {
							return {title:v};
						} else {
							return $.map(datum,function(w,k){
								if( w == 'Vacant' ) {
									return {title:v,subtitle:k};
								}
								w.title=v;
								w.subtitle=k;
								return w;
							});
						}
					} else {
						datum.title=v;
						return datum;
					}
				});
				branch_data[branch]=Array.prototype.concat.apply([],bd);
			}
			box.append($('<thead></thead>').append(box_heading));
			const filler_cell=$('<td></td>',{colspan:3});
			const imax=Math.max.apply(null,$.map(branch_data,function(a,i){
				return a.length;
			}));
			for( var i=0; i<imax; i++ ) {
				var box_row=$('<tr>');
				for( branch in govt_layout ) {
					if( branches_todo[branch] ) {
						if( branch_data[branch][i] === undefined ) {
							branches_todo[branch]=false;
							box_row.append(filler_cell.clone().attr('rowspan',imax-i));
							continue;
						} 
						var d = branch_data[branch][i];
						if( positions_todo[d.title] ) {
							var sw = d.subtitle===undefined;
							var sw2 = d.forum_id===undefined;
							var r = sw 
								? (sw2?1:data[d.title].length)
								: Object.keys(data[d.title]).length;
							box_row.append($('<th></th>',{
								rowspan:r,
								colspan:sw?2:1,
								text:cap(d.title)
							}));
							positions_todo[d.title]=false;
						}
						if( d.subtitle !== undefined ) {
							box_row.append($('<th></th>').text(cap(d.subtitle)));
						}
						if( d.forum_id !== undefined ) {
							box_row.append($('<td></td>').append($('<a></a>',{
								href:'http://forum.thenorthpacific.org/profile/'+d.forum_id,
								text:d.forum_name,
								css:{'font-weight':'bold',color:c[d.title]}
							})).append($(' <sup></sup>').append($('<a></a>',{
								href:'http://www.nationstates.net/nation='+d.nation_name,
								text:'[NS]',
								title:d['Nation Name']
							}))));
						} else {
							box_row.append($('<td>Vacant</td>'));
						}
					}
				}
				box.append(box_row);
			}
			$('#govt').append(box);
		});
	})
	function toggle_govt() {
		if( window.localStorage.govt_hidden > govt_update_ts ) {
			window.localStorage.removeItem('govt_hidden');
		} else {
			window.localStorage.govt_hidden=new Date().getTime();
		}
	}
</script>
