<script type="text/javascript">
$(document).ready( function() {$("#copyright").append(" - <a href=\"http://www.zetaboards.com/tou/\">Terms of Use</a> - <a href=\"http://www.zetaboards.com/tos/\">Terms of Service</a>"); } );
</script>
